<div class="container p-4">
    <div class="row">

        {{#each users}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="row-md-3">
                        <div class="col">
                            {{Nombre}} - {{Correo}}
                        </div>
                        <div class="col btn btn-danger">
                            <a href="/users/delete/{{idUsuario}}" class="danger"><img src="img/trash-solid.svg" height="20px" width="20px" alt="image"></a>
                        </div>
                        <div class="col btn btn-secondary">
                            <a href="/users/edit/{{idUsuario}}" class="secondary"><img src="img/pen-to-square-solid.svg" height="20px" width="20px" alt="image"></i></a>
                        </div> 
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay usuarios registrados</p>
                     <a href="/users/add">Registrar usuario</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>